.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
    .content {
        padding: 32px;
        background-color: #7785AC;
        height: 100%;
    }
}

@media (max-width: 500px) {
    .container .content {
        padding: 16px;
    }
}