@use '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: variables.$primary_color;

    .logo {
        height: 20px;
    }

    nav a {
        color: variables.$background_color;
        text-decoration: none;
        font-weight: 600;
    }
}
