@use '../../styles/variables';

.searchContainer {
    display: flex;
    align-items: center;
    min-width: 250px;
    border-radius: 6px;
    background-color: variables.$background_color;
    border: 1px solid variables.$primary_color;
    
    .inputContainer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px;
        
        input {
            display: flex;
            height: 30px;
            width: 250px;
            margin: 0 12px;
            border: none;
            background-color: transparent;
            font-size: 16px;
            color: variables.$primary_color;
            
            &:focus, &:active {
                outline: none;
            }

            &:disabled {
                color: variables.$disabled_color;
            }

            &::placeholder {
                color: variables.$primary_color;
            }
        }
    }

    button {
        height: 48px;
        padding: 8px;
        margin-left: 8px;
        border: none;
        text-transform: uppercase;
        background-color: transparent;
        border-radius: 6px;
        color: variables.$primary_color;
        
        &:disabled {
            svg {
                color: variables.$disabled_color;
            }
        }

        &:hover {
            background-color: variables.$secondary_color;

            &:disabled {
                background-color: transparent;
            }
            
            &:not(:disabled) {
                cursor: pointer;
            }
        }
    }
}

.loaderRing {
    width: 30px;
    height: 30px;

    div {
        margin: 0px;
        border-width: 3px;
        width: 30px;
        height: 30px;
    }
}
